.container{
  background-color: #bbbbbb;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1{
  text-align: center;
  color: darkred;
}

h2{
  text-align:center;
}

img {
  float: left;
  width: 20%;
  margin: 30px;
  border: 10px solid green;
  padding: 5px;
}

p{
  font-family: sans-serif;
}

ul{
  font-family: sans-serif;
}

ol{
  font-family: sans-serif;
}
