.container{
  background-color: #cccccc;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.important h1{
  text-align: left;
  font-size: 80px;
  color:green;
  padding-top: 80px;;
}

h2{
  text-align:left;
}

img {
  float: right;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 10px solid green;
  padding: 5px;
}

p{
  font-family: sans-serif;
}

ul{
  font-family: sans-serif;
}

ol{
  font-family: sans-serif;
}

.omgwow{
  font-variant: small-caps;
  color: blue;
}
